{% extends "base.html" %}
{% block title %}Leecher{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p>This is the homepage that will eventually display the current streams that are live in some form, and it's the main entry point to the website.  This is also where you are taken when you click the logo.</p>
{% endblock %}
{% block javascript %}
{% endblock %}
